<widget id="A6089939101336"  version="0.0.1">
    <name>趣逛导航</name>
    <description>
        一款室内导航App
    </description>
    <author email="shawnnchen@163.com" href="//www.apicloud.com">
        APICloud.SIR
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="windowBackground" value="#FFF" />
    <permission name="call" />
</widget>